$red: #e21c3d;
$purple: #b10dc9;
$dark-blue: #00369f;
$dark-green: #00ab37;
$dark-green: #009f06;
$light-pink: #ffdddd;
$light-green: #ddffdd;
$dark-gray: #333;
$mid-gray: #777;
$light-gray: #ccc;
$lighter-gray: #ddd;

$hljs-comment: $mid-gray;
$hljs-keyword: $dark-blue;
$hljs-name: $dark-gray;
$hljs-number: $dark-green;
$hljs-string: $red;
$hljs-title: $red;
$hljs-type: $dark-blue;
$hljs-tag: $dark-blue;
$hljs-attribute: $dark-green;
$hljs-regexp: $dark-green;
$hljs-symbol: $purple;
$hljs-built-in: $dark-blue;
$hljs-preprocessor: $mid-gray;
$hljs-deletion: $light-pink;
$hljs-addition: $light-green;
$hljs-change: $dark-blue;
$hljs-chunk: $light-gray;

pre, code {
  background-color: #fafafa;
  border-radius: 0;
  font-family: $monospace-font-family;
}

pre {
  font-size: 12px;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 12px;
  overflow-x: auto;
}

.highlighter-rouge {
  pre, code { background-color: #fff; }
  pre.highlight { border: 1px solid #eee; }
}

.highlight {
  margin: 0 0 1em;
  -webkit-text-size-adjust: none;
}

.highlight .c,
.highlight .cs,
.highlight .cm,
.highlight .cp,
.highlight .c1 {
  color: $hljs-comment;
  font-style: italic;
}

.highlight .k,
.highlight .kc,
.highlight .kd,
.highlight .kn,
.highlight .kr,
.highlight .kt,
.highlight .kp {
  color: $hljs-keyword;
}

.highlight .na,
.highlight .nb,
.highlight .nc,
.highlight .no,
.highlight .nd,
.highlight .ni,
.highlight .ne,
.highlight .nf,
.highlight .nl,
.highlight .nn,
.highlight .nx {
  color: $hljs-name;
}

.highlight .mi,
.highlight .il {
  color: $hljs-number;
}

.highlight .s,
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .s2,
.highlight .s3,
.highlight .sh,
.highlight .si,
.highlight .sx,
.highlight .sr,
.highlight .ss,
.highlight .s1 {
  color: $hljs-string;
}

.hljs-title,
.hljs-id,
.scss .hljs-preprocessor {
  color: $hljs-title;
  font-weight: bold;
}

.highlight .k {
  font-weight: normal;
}

.highlight .nc,
.highlight .no {
  color: $hljs-type;
}

.highlight .o {
  color: $hljs-tag;
  font-weight: normal;
}

.highlight .nb {
  color: $hljs-attribute;
}

.highlight .sr {
  color: $hljs-regexp;
}

.highlight .ss {
  color: $hljs-symbol;
}

.hljs-built_in {
  color: $hljs-built-in;
}

.hljs-preprocessor,
.hljs-pragma,
.hljs-pi,
.hljs-doctype,
.hljs-shebang,
.hljs-cdata {
  color: $hljs-preprocessor;
  font-weight: bold;
}

.hljs-deletion {
  background: $hljs-deletion;
}

.hljs-addition {
  background: $hljs-addition;
}

.diff .hljs-change {
  background: $hljs-change;
}

.hljs-chunk {
  color: $hljs-chunk;
}
