.black { color: $black; }
.gray { color: $gray; }
.white { color: $white; }
.blue { color: $blue; }
.navy { color: $navy; }
.green { color: $green; }
.orange { color: $orange; }
.red { color: $red; }
.muted { opacity: .5; }
