table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 12px;
  max-width: 100%;
  width: 100%;
}

th {
  text-align: left;
  font-weight: $table-header-font-weight;
}

th,
td {
  padding: $table-cell-padding-y $table-cell-padding-x;
  line-height: inherit;
}

th { vertical-align: bottom }

td { vertical-align: top }

.table th,
.table td {
  border-bottom-width: $border-width;
  border-bottom-style: solid;
  border-bottom-color: $border-color;
}

.table tr:last-child td {
  border-bottom: 0;
}

.dataframe {
  font-family: $monospace-font-family;
  font-size: 11px;
  margin-bottom: 1rem;

  th, td { border: 1px solid #ddd; } 
}
