html { font-size: 16px; }

h1, .h1 { font-size: $h1; }
h2, .h2 { font-size: $h2; }
h3, .h3 { font-size: $h3; }
h4, .h4 { font-size: $h4; }
h5, .h5 { font-size: $h5; }
h6, .h6 { font-size: $h6; }
@media #{$breakpoint-sm} { .sm-h0 { font-size: $h0; } }

.bold { font-weight: $bold-font-weight; }
.regular { font-weight: normal; }
.italic { font-style: italic; }
.caps { letter-spacing: .2em; text-transform: uppercase; }
.underline { text-decoration: underline; }

.left-align { text-align: left; }
.center { text-align: center; }
.right-align { text-align: right; }

.serif { font-family: $serif-font-family; }
.sans-serif { font-family: $sans-serif-font-family; }
.mono, .monospace { font-family: $monospace-font-family; }
